* {
    box-sizing : border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body,
html {
    margin : 0;
    padding: 0;

    font-family: 'Quicksand', sans-serif;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
    margin     : 0;
    padding    : 0;
    color      : #232121;
    font-family: 'Quicksand', sans-serif;
} */
/* Light theme */
#myBody {
    /* background-color: black; */
    background-color: white;
}

#switchButton {
    background-color: white;
}

#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
}

/* Dark Theme*/
.dark#myBody {
    background-color: black;
    color           : white;
}

/* .dark#myBody p {
    background-color: black;
    color           : white;
} */

.dark #switchButton {
    background-color: black;

}

.dark #switchButton .fa-sun {
    display: block;
    color  : white;
}

.dark #switchButton .fa-moon {
    display: none;

}

.dark .card {
    background-color: black;
    color           : white;
}


.container {
    max-width    : 1200px;
    width        : 100%;
    padding-right: 15px;
    padding-left : 15px;
}

.banner {

    background-size      : cover;
    background-image     : linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../images/banner1.jpg);
    background-repeat    : no-repeat, no-repeat, no-repeat;
    background-position  : initial;
    background-attachment: fixed;
    min-height           : 700px;

}

.nam_header {
    display              : grid;
    grid-template-columns: 4fr 1fr;
    grid-gap             : 20px;
    padding              : 40px 0 20px 0;
    align-items          : center;
}


h1 a.logo-brand {
    margin         : 0;
    padding        : 0;
    font-size      : 36px;
    font-weight    : 700;
    color          : #fff;
    text-decoration: none;

}


.nam_right .search-bar {
    display: flex;
    flex   : 1;
    margin : 0 auto;
}

.nam_right .search-bar .search .search__input {
    display      : flex;
    flex         : 1;
    padding      : 10px 50px 10px 20px;
    height       : 45px;
    font-size    : 16px;
    color        : black;
    border       : none;
    font-weight  : 400;
    border-radius: 8px;
    position     : relative;
    right        : 0;
    background   : white;
    outline      : 0;
    border       : 1px;
}

.nam_right {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap             : 20px;
    align-items          : center;
}

.position-relative {
    position: relative !important;
}

.nam_right .search-bar .search .search__icon {
    position : absolute;
    right    : 20px;
    font-size: 15px;
    top      : 15px;
    cursor   : pointer;
}

.text-center {
    text-align: center !important;
}

button#trigger-overlay {
    outline   : none;
    border    : none;
    background: none;
    text-align: center;
    color     : #fbfdfb;
    font-size : 1.95em;
    padding   : 0 8px;
}


.banner .banner_info {
    max-width : 600px;
    text-align: left;
    margin-top: 100px;
}

.banner .banner_info h3 {
    font-size     : 54px;
    line-height   : 64px;
    font-weight   : 600;
    text-transform: capitalize;
    color         : #fff;
}

.banner .banner_info p {
    font-size  : 16px;
    line-height: 28px;
    color      : #fff;
}

.btn-white {
    background: transparent;
    border    : 2px solid #fff;
    color     : #fff;
}

.btn-style,
.btn-white {
    padding      : 12px 45px;
    font-size    : 16px;
    line-height  : 30px;
    font-weight  : 700;
    transition   : 0.3s;
    border-radius: 6px;
    border       : 2px solid white;
}

.btn-white:hover {
    background: #fff;
    border    : 2px solid #fff;
    color     : #ff6600;
}

.pb-5,
.py-5 {
    padding-bottom: 3rem !important;
}

/* .pt-5,
.py-5 {
    padding-top: 3rem !important;
} */

.title_content {
    font-size     : 20px;
    font-weight   : 400;
    line-height   : 30px;
    letter-spacing: 1px;
    color         : #ff6600;
    display       : block;
    font-family   : 'Pacifico', cursive;
}

.title-bottom {
    font-size  : 38px;
    line-height: 48px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}

p {
    margin     : 0;
    padding    : 0;
    font-size  : 18px;
    line-height: 28px;
    color      : rgba(22, 28, 45, 0.7);
    font-family: 'Quicksand', sans-serif;
}

.mt-3,
.my-3 {
    margin-top: 1rem !important;
}

.more {
    background: #ff6600;
}

.agent-block-image::before {
    content   : "";
    background: rgb(16 15 19 / 46%);
    position  : absolute;
    top       : 0;
    min-height: 100%;
    left      : 0;
    right     : 0;
    z-index   : -1;
    min-width : 100%;

}

.agent-block-image {
    background     : url(./images/banner3.jpg) center no-repeat;
    background-size: cover;

    position  : relative;
    min-height: 600px;
    width     : 100%;
    z-index   : 1;

}



.title-more.two {
    color      : #fff;
    font-family: 'Pacifico', cursive;
    font-size  : 20px;
}

.title-title {
    font-size     : 20px;
    font-weight   : 400;
    line-height   : 30px;
    letter-spacing: 1px;
    color         : #ff6600;
    display       : block;
    font-family   : 'Pacifico', cursive;
}

.title-morethan {
    font-size  : 38px;
    line-height: 48px;
    font-weight: 600;
}

.more p {
    color: #ffdfc9;
}

.subscribe-cat {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    margin-top           : 30px;
    grid-gap             : 30px;
}

.subscribe-cat-gd .icon {
    background: #fff;
}

.icon {
    width        : 70px;
    height       : 70px;
    text-align   : center;
    background   : rgba(130, 115, 252, 0.5);
    line-height  : 70px;
    border-radius: 6px;
    transition   : 0.3s ease-in-out;
}

.icon span.fa {
    color      : #ff6600;
    font-size  : 25px;
    line-height: 70px;
}

.subscribe-cat .subscribe-cat-link {
    display      : block;
    color        : #232121;
    font-weight  : 700;
    line-height  : 1.2;
    margin-bottom: 15px;
    font-size    : 20px;
}

a,
a:hover {
    text-decoration: none;

}

.subscribe-cat .subscribe-cat-link:hover {
    opacity: 0.9;
}

.subscribe-cat-gd:hover .icon span.fa {
    color     : #ffc600;
    transition: 0.3s;
}

/* categories */
.categories {
    background: #f7f7f7;
}

.text-center {
    text-align: center !important;
}

.categories .gal-slide-img {
    position: relative;
}

.categories .gal-slide-info {
    left      : auto;
    bottom    : 0;
    width     : 95%;
    padding   : 0 10px;
    position  : absolute;
    opacity   : 0;
    color     : #fff;
    transform : translate3d(0, 10%, 0);
    transition: opacity 0.3s;
}

.categories .gal-slide-img:after {
    bottom  : 0;
    left    : 0;
    width   : 100%;
    height  : 40%;
    content : " ";
    position: absolute;
}

.categories .gal-slide-grid .gal-slide-img:after {
    background                : linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    transition-duration       : 300ms;
    transition-property       : all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    border-radius             : 6px;

}

.categories .gal-slide-img img {
    display      : block;
    margin       : 0 auto;
    text-align   : center;
    width        : 100%;
    border-radius: 6px;


}

.categories .gal-slide-grid .gal-slide-info {
    opacity   : 1;
    transition: all 0.4s;
}

.categories .content-left-sec a h4 {
    font-size  : 22px;
    line-height: 30px;
    color      : #fff;
    font-weight: 700;
}

.categories .content-left-sec h6 {
    display    : inline-block;
    font-size  : 18px;
    line-height: 25px;
    color      : #fff;
    opacity    : 0.9;
}

.categories .gal-slide-info span {
    font-weight   : 600;
    color         : #ffc600;
    font-size     : 18px;
    letter-spacing: 1px;
}

/* .categories .content-left-sec a:hover {
    color: #4f9da6;
} */

.categories img:hover {
    opacity   : 0.85;
    transition: all 0.4s;
}

* {
    box-sizing: border-box;
}

p {
    margin     : 0;
    padding    : 0;
    font-size  : 18px;
    line-height: 28px;
    color      : rgba(22, 28, 45, 0.7);
}

body,
html {
    padding    : 0;
    margin     : 0;
    background : #fff;
    color      : rgba(22, 28, 45, 0.7);
    font-family: "Quicksand", sans-serif;
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width   : 960px;
        margin-right: auto;
        margin-left : auto;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width   : 1140px;
        margin-right: auto;
        margin-left : auto;
    }
}

.title {
    font-size     : 20px;
    font-weight   : 400;
    line-height   : 30px;
    letter-spacing: 1px;
    color         : #ff6600;
    display       : block;
    font-family   : "Pacifico", cursive;
}

.title-sub {
    font-size  : 38px;
    line-height: 48px;
    font-weight: 600;
}

/* Home-services */
.home-services {
    position: relative;
}

.row {
    display     : flex;
    flex-wrap   : wrap;
    margin-right: -15px;
    margin-left : -15px;
}

.box-wrap {
    padding      : 40px 40px;
    border-radius: 8px;
    box-shadow   : 0 25px 98px 0 rgb(0 0 0 /3%);
    background   : #fff;
    position     : relative;
    border       : 1px solid #eee;
    transition   : 0.5s ease 0s;
}

.box-wrap:hover {
    box-shadow: 0 25px 98px 0 rgb(0 0 0 /10%);
}

.box-wrap:hover .icon {
    background-color: #ff6600;
    transition      : 0.3s ease-in-out;
}

.box-wrap:hover .icon span {
    color     : #fff;
    transition: 0.3s ease-in-out;
}

.box-wrap p {
    margin: 0;
}

.box-wrap h4 a {
    font-size    : 24px;
    font-weight  : 600;
    margin-top   : 5px;
    margin-bottom: 0;
    display      : block;
    color        : #232121;
    cursor       : pointer;
}

.box-wrap h4:hover a {
    text-decoration: none;
}

.box-wrap-grid {
    display              : grid;
    grid-template-columns: auto 1fr;
    gap                  : 30px;
}

.icon {
    width        : 70px;
    height       : 70px;
    text-align   : center;
    background   : rgba(130, 115, 252, 0.05);
    line-height  : 70px;
    border-radius: 6px;
    transition   : 0.3s ease-in-out;
}

.icon span {
    color      : #ff6600;
    font-size  : 25px;
    line-height: 70px;
}

/* End Home-Services */

/* Middle */
.middle {
    position           : relative;
    z-index            : 1;
    background         : url(./img/banner2.jpg);
    background-repeat  : no-repeat;
    background-position: center center;
    background-size    : cover;
}

.middle::before {
    content   : "";
    background: rgba(16 15 19 / 66%);
    position  : absolute;
    top       : 0;
    min-height: 100%;
    left      : 0;
    right     : 0;
    z-index   : -1;
}

.welcome-left {
    max-width: 700px;
    margin   : 0 auto;
}

.welcome-left h3 {
    font-size  : 45px;
    line-height: 55px;
    font-weight: 600;
    color      : #fff;
    max-width  : 800px;
}

.btn-style,
.btn-white {
    padding      : 12px 45px;
    font-size    : 16px;
    line-height  : 30px;
    font-weight  : 700;
    border-radius: 6px;
    border       : 2px solid transparent;
    transition   : 0.3s ease-in;
}

.btn-white {
    background: transparent;
    border    : 2px solid #fff !important;
    color     : #fff;
}

.btn-white:hover {
    background: #fff;
    border    : 2px solid #fff !important;
    color     : #ff6600;
}

.btn-primary {
    color           : #fff;
    background-color: #ff6600;
    border          : 2px solid #ff6600;
}

.btn-primary:hover {
    color           : #fff;
    background-color: #ff6600;
    border          : 2px solid #ff6600;
    opacity         : 0.8;
}

/* End Middle */

/* STATS */
.stats {
    margin-top: -70px;
    z-index   : 10;
    position  : relative;
}

.stat__item {
    background-color: #fff;
    box-shadow      : rgb(1 1 1 /5%) 1px 1px 5px 0;
    padding         : 40px 20px;
    border-radius   : 6px;
    text-align      : center;
}

.stat__item span {
    background   : #ff6600;
    font-size    : 26px;
    border-radius: 50%;
    width        : 68px;
    height       : 68px;
    line-height  : 68px;
    color        : #fff;
    text-align   : center;
}

.stat__item .txt {
    font-size  : 2.6em;
    font-weight: 600;
    color      : #232121;
}

.stat__item p {
    color      : rgba(22, 28, 46, 0.7);
    font-weight: 600;
}

/* End Stats */

/* Video */

.modal {
    z-index: 100;
}

.video .history-info {
    background-image   : url(./images/banner3.jpg);
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    z-index            : 1;
    min-height         : 500px;
    border-radius      : 6px;
    display            : grid;
    align-items        : center;
}

.video .history-info:before {
    content      : "";
    background   : rgb(16 15 19 / 60%);
    position     : absolute;
    top          : 0;
    left         : 0;
    right        : 0;
    z-index      : -1;
    border-radius: 6px;
    min-height   : 100%;
}

.video .background {
    background: #fff;
}

.video-play-icon {
    display      : inline-block;
    width        : 80px;
    height       : 80px;
    font-size    : 26px;
    padding-left : 2px;
    text-align   : center;
    line-height  : 76px;
    border-radius: 50%;
    transform    : 0.3s;
    color        : #ff6600;
    border       : transparent;
    background   : #fff;
    animation    : effect 1s linear infinite;
}

@keyframes effect {
    0% {
        box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
            0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }

    100% {
        box-shadow: 0 0 10px rgb(255 255 255 / 25%),
            0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgb(50 100 245 / 0%);
    }
}

/* ------------------------------- */

/* 
  #small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
  }
  div#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
  }
  .mfp-close-btn-in .mfp-close {
    color: #fff;
  }
  .mfp-close,
  .mfp-close:active {
    top: -40px;
  }
  
  /**
     * Fade-zoom animation for first dialog
     */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
    opacity   : 0;
    transition: all 0.2s ease-in-out;
    transform : scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity  : 1;
    transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    transform: scale(0.8);
    opacity  : 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity   : 0;
    transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}




/* ------------------------------ */
#small-dialog {
    max-width: 750px;
    margin   : 40px auto;
    position : relative;
}

div#small-dialog iframe {
    width        : 100%;
    height       : 420px;
    display      : block;
    border-radius: 10px;
}

.mfp-close-btn-in .mfp-close {
    color: #fff;
}

.mfp-close,
.mfp-close:active {
    top: -40px;
}

.my-mfp-zoom-in .zoom-anim-dialog {
    opacity   : 0;
    transition: all 0.2s ease-in-out;
    transform : scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity  : 1;
    transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    transform: scale(0.8);
    opacity  : 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity   : 0;
    transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}

.mfp-hide {
    display: none !important;
}

*/
/* END VIDEO */

/* Blog */

.blogpost {
    background: #f7f7f7;
}

.blog__top {
    text-align: center;
}

.blog__top h6 {
    font-size     : 20px;
    font-weight   : 400;
    line-height   : 30px;
    letter-spacing: 1px;
    color         : #ff6600;
    display       : block;
    font-family   : "Pacifico", cursive;
}

.blog__top h3 {
    font-size  : 38px;
    line-height: 48px;
    font-weight: 600;
}

.blog__item .card {
    position        : relative;
    word-wrap       : break-word;
    background-color: transparent;
    background-clip : border-box;
    border          : none;
    border-radius   : 0;
}

.card .card__header {
    padding         : 0.75rem 1.25rem;
    margin-bottom   : 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom   : 1px solid rgba(0, 0, 0, 0.125);
}

.card__header a {
    text-decoration: none;
    color          : #fff;
}

.card__header a:hover {
    text-decoration: none;
    color          : #fff;
}

.card__header img {
    border-radius: 6px;
    overflow     : hidden;
    display      : block;
    width        : 100%;
    border-style : none;
}

.card__header .card__header--pos {
    position: absolute;
    bottom  : 10px;
    left    : 10px;
}

.card__header--pos a {
    background-color: #ff6600;
    color           : #fff;
    padding         : 3px 20px;
    border-radius   : 35px;
    font-weight     : 700;
    font-size       : 12px;
    margin-bottom   : 5px;
    display         : inline-block;
}

.card__header--pos .card__icon {
    color      : #fff;
    margin-left: 10px;
    font-size  : 15px;
}

.card__header--pos .fa {
    display: inline-block;
    color  : #fff;
}

.card__body {
    min-height: 1px;
    padding   : 1.25rem;
}

.blog__decs {
    display      : block;
    font-size    : 24px;
    line-height  : 34px;
    font-weight  : 600;
    color        : black;
    margin-top   : 25px;
    margin-bottom: 15px;
}

.footer__card {
    display        : grid;
    justify-content: space-between;
    align-items    : center;
    grid-auto-flow : column;
}

.meta__info {
    display       : grid;
    align-items   : center;
    grid-auto-flow: column;
    grid-gap      : 10px;
}

.meta__info img {
    width        : 40px;
    height       : 40px;
    display      : block;
    overflow     : hidden;
    border-radius: 50%;
}

.meta__info a {
    font-weight   : 700;
    letter-spacing: 0.02em;
    color         : #232121;
}

.footer__card a {
    font-size     : 16px;
    font-weight   : 700;
    color         : #232121;
    opacity       : 0.9;
    letter-spacing: 0.02em;
}

.footer__card a:hover {
    color: #ff6600;
}

/* END */

/* TESTIMONIAL */
.item .testimonial__content {
    max-width: 700px;
    margin   : auto;
}

.testimonial a.comment__img {
    left         : 0;
    top          : 0;
    width        : 85px;
    height       : 85px;
    overflow     : hidden;
    border-radius: 50%;
    display      : block;
    margin       : auto;
    margin-bottom: 20px;
}

.testimonial img {
    width          : 100%;
    height         : 100%;
    object-fit     : cover;
    object-position: center;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ff6600;
}

.testimonial blockquote q::before {
    font-size  : 50px;
    color      : #232121;
    display    : block;
    font-family: initial;
}

.testimonial blockquote q {
    font-size  : 24px;
    line-height: 36px;
    color      : #232121;
    font-weight: 600;
    font-style : italic;
}

.people__info h3 {
    margin     : 0;
    font-weight: 600;
    font-size  : 20px;
    color      : #232121;
}

/* FOOTER */
.footer-bg {
    background-color: black;
}

.footer p {
    color: #a5a2a1;
}

.footer__logo h2 a {
    font-size      : 30px;
    font-weight    : 600;
    color          : #fff;
    padding        : 0;
    text-decoration: none;
}

.footer .social__footer a {
    margin-right    : 10px;
    color           : #ff6600;
    display         : inline-block;
    text-align      : center;
    font-size       : 16px;
    background-color: #fff;
    width           : 36px;
    height          : 36px;
    line-height     : 36px;
    border-radius   : 6px;
    transition      : 0.3s;
}

.social__footer a span.fa {
    line-height: 36px;
}

.footer__links {
    font-size    : 22px;
    line-height  : 28px;
    margin-bottom: 30px;
    font-weight  : 700;
    position     : relative;
    color        : #fff;
}

.row ul {
    padding: 0;
}

.row li {
    list-style   : none;
    margin-bottom: 10px;
}

.row li a {
    font-size  : 16px;
    line-height: 26px;
    color      : #a5a2a1;
}

.footer input {
    padding      : 14px 20px;
    font-size    : 18px;
    line-height  : 28px;
    border       : 1px solid transparent;
    outline      : none;
    width        : 100%;
    color        : black;
    border-radius: 6px;
}

.footer input:focus {
    border          : 1px solid #ff6600;
    background-color: #fff;
}

.social__footer a:hover {
    background-color: #ff6600;
    transform       : 0.3s;
    color           : #fff;
}

.footer li:hover a {
    color          : #ff6600;
    text-decoration: none;
}

/* Footer End */
/* Copy right */

.copyright {
    background: #000;
}

.copyright .copyright__footer {
    color    : #ddd;
    font-size: 17px;
}

.copyright__footer a {
    color: #ff6600;
}

.copyright__footer a:hover {
    color          : #fff;
    text-decoration: none;
}

.footer__list ul {
    display   : flex !important;
    text-align: center !important;
}

.footer__list ul li:hover a {
    color          : #ff6600;
    text-decoration: none;
}